# Виртуальное окружение
venv/
.venv/
env/

# Секреты и локальная конфигурация
.env
.streamlit/secrets.toml

# База данных
data/
*.db
*.sqlite
*.sqlite3

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Конфигурации редакторов кода и IDE (VS Code, PyCharm)
.vscode/
.idea/
*.swp

# Системные файлы ОС
.DS_Store
Thumbs.db